src/conf/xml-resources/web-service-references/galgelegtjeneste/wsdl/130.226.195.227_9591/galgelegtjeneste.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://galgeleg/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://galgeleg/" name="GalgelogikService">
<types>
<xsd:schema>
<xsd:import namespace="http://galgeleg/" schemaLocation="http://130.226.195.227:9591/galgelegtjeneste?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getBrugteBogstaver">
<part name="parameters" element="tns:getBrugteBogstaver"></part>
</message>
<message name="getBrugteBogstaverResponse">
<part name="parameters" element="tns:getBrugteBogstaverResponse"></part>
</message>
<message name="getSynligtOrd">
<part name="parameters" element="tns:getSynligtOrd"></part>
</message>
<message name="getSynligtOrdResponse">
<part name="parameters" element="tns:getSynligtOrdResponse"></part>
</message>
<message name="getOrdet">
<part name="parameters" element="tns:getOrdet"></part>
</message>
<message name="getOrdetResponse">
<part name="parameters" element="tns:getOrdetResponse"></part>
</message>
<message name="getAntalForkerteBogstaver">
<part name="parameters" element="tns:getAntalForkerteBogstaver"></part>
</message>
<message name="getAntalForkerteBogstaverResponse">
<part name="parameters" element="tns:getAntalForkerteBogstaverResponse"></part>
</message>
<message name="erSidsteBogstavKorrekt">
<part name="parameters" element="tns:erSidsteBogstavKorrekt"></part>
</message>
<message name="erSidsteBogstavKorrektResponse">
<part name="parameters" element="tns:erSidsteBogstavKorrektResponse"></part>
</message>
<message name="erSpilletVundet">
<part name="parameters" element="tns:erSpilletVundet"></part>
</message>
<message name="erSpilletVundetResponse">
<part name="parameters" element="tns:erSpilletVundetResponse"></part>
</message>
<message name="erSpilletTabt">
<part name="parameters" element="tns:erSpilletTabt"></part>
</message>
<message name="erSpilletTabtResponse">
<part name="parameters" element="tns:erSpilletTabtResponse"></part>
</message>
<message name="erSpilletSlut">
<part name="parameters" element="tns:erSpilletSlut"></part>
</message>
<message name="erSpilletSlutResponse">
<part name="parameters" element="tns:erSpilletSlutResponse"></part>
</message>
<message name="nulstil">
<part name="parameters" element="tns:nulstil"></part>
</message>
<message name="nulstilResponse">
<part name="parameters" element="tns:nulstilResponse"></part>
</message>
<message name="opdaterSynligtOrd">
<part name="parameters" element="tns:opdaterSynligtOrd"></part>
</message>
<message name="opdaterSynligtOrdResponse">
<part name="parameters" element="tns:opdaterSynligtOrdResponse"></part>
</message>
<message name="gætBogstav">
<part name="parameters" element="tns:gætBogstav"></part>
</message>
<message name="gætBogstavResponse">
<part name="parameters" element="tns:gætBogstavResponse"></part>
</message>
<message name="hentBruger">
<part name="parameters" element="tns:hentBruger"></part>
</message>
<message name="hentBrugerResponse">
<part name="parameters" element="tns:hentBrugerResponse"></part>
</message>
<portType name="GalgelegI">
<operation name="getBrugteBogstaver">
<input wsam:Action="http://galgeleg/GalgelegI/getBrugteBogstaverRequest" message="tns:getBrugteBogstaver"></input>
<output wsam:Action="http://galgeleg/GalgelegI/getBrugteBogstaverResponse" message="tns:getBrugteBogstaverResponse"></output>
</operation>
<operation name="getSynligtOrd">
<input wsam:Action="http://galgeleg/GalgelegI/getSynligtOrdRequest" message="tns:getSynligtOrd"></input>
<output wsam:Action="http://galgeleg/GalgelegI/getSynligtOrdResponse" message="tns:getSynligtOrdResponse"></output>
</operation>
<operation name="getOrdet">
<input wsam:Action="http://galgeleg/GalgelegI/getOrdetRequest" message="tns:getOrdet"></input>
<output wsam:Action="http://galgeleg/GalgelegI/getOrdetResponse" message="tns:getOrdetResponse"></output>
</operation>
<operation name="getAntalForkerteBogstaver">
<input wsam:Action="http://galgeleg/GalgelegI/getAntalForkerteBogstaverRequest" message="tns:getAntalForkerteBogstaver"></input>
<output wsam:Action="http://galgeleg/GalgelegI/getAntalForkerteBogstaverResponse" message="tns:getAntalForkerteBogstaverResponse"></output>
</operation>
<operation name="erSidsteBogstavKorrekt">
<input wsam:Action="http://galgeleg/GalgelegI/erSidsteBogstavKorrektRequest" message="tns:erSidsteBogstavKorrekt"></input>
<output wsam:Action="http://galgeleg/GalgelegI/erSidsteBogstavKorrektResponse" message="tns:erSidsteBogstavKorrektResponse"></output>
</operation>
<operation name="erSpilletVundet">
<input wsam:Action="http://galgeleg/GalgelegI/erSpilletVundetRequest" message="tns:erSpilletVundet"></input>
<output wsam:Action="http://galgeleg/GalgelegI/erSpilletVundetResponse" message="tns:erSpilletVundetResponse"></output>
</operation>
<operation name="erSpilletTabt">
<input wsam:Action="http://galgeleg/GalgelegI/erSpilletTabtRequest" message="tns:erSpilletTabt"></input>
<output wsam:Action="http://galgeleg/GalgelegI/erSpilletTabtResponse" message="tns:erSpilletTabtResponse"></output>
</operation>
<operation name="erSpilletSlut">
<input wsam:Action="http://galgeleg/GalgelegI/erSpilletSlutRequest" message="tns:erSpilletSlut"></input>
<output wsam:Action="http://galgeleg/GalgelegI/erSpilletSlutResponse" message="tns:erSpilletSlutResponse"></output>
</operation>
<operation name="nulstil">
<input wsam:Action="http://galgeleg/GalgelegI/nulstilRequest" message="tns:nulstil"></input>
<output wsam:Action="http://galgeleg/GalgelegI/nulstilResponse" message="tns:nulstilResponse"></output>
</operation>
<operation name="opdaterSynligtOrd">
<input wsam:Action="http://galgeleg/GalgelegI/opdaterSynligtOrdRequest" message="tns:opdaterSynligtOrd"></input>
<output wsam:Action="http://galgeleg/GalgelegI/opdaterSynligtOrdResponse" message="tns:opdaterSynligtOrdResponse"></output>
</operation>
<operation name="gætBogstav">
<input wsam:Action="http://galgeleg/GalgelegI/gætBogstavRequest" message="tns:gætBogstav"></input>
<output wsam:Action="http://galgeleg/GalgelegI/gætBogstavResponse" message="tns:gætBogstavResponse"></output>
</operation>
<operation name="hentBruger">
<input wsam:Action="http://galgeleg/GalgelegI/hentBrugerRequest" message="tns:hentBruger"></input>
<output wsam:Action="http://galgeleg/GalgelegI/hentBrugerResponse" message="tns:hentBrugerResponse"></output>
</operation>
</portType>
<binding name="GalgelogikPortBinding" type="tns:GalgelegI">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getBrugteBogstaver">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getSynligtOrd">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getOrdet">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAntalForkerteBogstaver">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="erSidsteBogstavKorrekt">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="erSpilletVundet">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="erSpilletTabt">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="erSpilletSlut">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="nulstil">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="opdaterSynligtOrd">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="gætBogstav">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="hentBruger">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="GalgelogikService">
<port name="GalgelogikPort" binding="tns:GalgelogikPortBinding">
<soap:address location="http://130.226.195.227:9591/galgelegtjeneste"></soap:address>
</port>
</service>
</definitions>